.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #003366;
  color: white;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  height: 80px;
  box-sizing: border-box;
}

.todolistContainer {
  padding: 20px;
  display: flex;
  gap: 5px;
}

.weatherAndClockContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 950px) {
  .weatherAndClockContainer {
    display: none;
  }
}

@media (max-width: 860px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 10px 20px;
  }
}
