.weatherContainer {
  display: flex;
  align-items: center; /* Вертикальное выравнивание по центру */
  gap: 10px; /* Расстояние между изображением и текстом */
  border: 1px solid #ddd; /* Легкая граница */
  padding: 10px; /* Отступы внутри контейнера */
  border-radius: 8px; /* Скругление углов */
  background-color: #cce7ff;
  max-width: 350px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Центрирование контейнера */
  height: 40px;
}

.weatherIcon {
  width: 50px;
  height: 50px;
  object-fit: cover; /* Изображение не искажается */
}

.weatherText {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Вертикальное выравнивание текста по центру */
}

.weatherTemperature,
.weatherCondition {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #003366;
}
