::-webkit-scrollbar {
  width: 12px; /* Ширина вертикального скроллбара */
  height: 12px; /* Высота горизонтального скроллбара */
}
::-webkit-scrollbar-thumb {
  background-color: #003366; /* Цвет ползунка */
  border-radius: 10px; /* Скругление углов */
  border: 4px solid #fff; /* Внутренний отступ внутри ползунка */
}

.todolist {
  color: #003366;
  margin: 15px;
  border: 2px solid #003366;
  border-radius: 15px;
  min-width: 350px;
  max-width: 350px;
  min-height: 400px;
  height: 570px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color: white;
  text-align: center;
}

.todolist:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
}

.todolistTitleBlock {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

.filterBlock {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-top: 10px;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  max-height: 350px;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 5px;
}

.taskMenu {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-bottom: 15px;
}

.todolistDateCreateBlock {
  margin-top: 10px;
}

.todolistDateCreate {
  font-size: 16px;
  color: #003366;
  font-weight: 700;
}
