.button {
  border: none;
  border-radius: 5px;
  color: #003366;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #cce7ff;
}

.add:hover {
  background-color: #99c2e6;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.add:active {
  background-color: #66a3cc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.delete {
  padding: 5px 10px;
  font-size: 12px;
  background-color: #cce7ff;
}

.delete:hover {
  background-color: #99c2e6;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.delete:active {
  background-color: #66a3cc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
