.input {
  color: #003366;
  max-width: 100%;
  padding: 10px;
  border: 2px solid #cce7ff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.input:focus {
  border-color: #003366;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
  outline: none;
}

.input::placeholder {
  color: #aaa;
}
