.App {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  min-height: 100vh;
}

.todolistBlock {
  display: flex;
  flex: 1;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
}

/* .footer {
  margin-top: auto;
  height: 80px;
  background-color: #003366;
} */
